.hero-full-height {
    height: 100vh;
}

.app-title {
    font-size: 8vw;
}

.app-headings {
    background: none;
    font-size: 3vw;
}

.app-sub-headings {
    font-size: 1.2vw;
}


/* md size */

@media screen and (max-width:1000px) {
    .app-title {
        font-size: 10vw;
    }
    .app-headings {
        font-size: 6vw;
    }
    .app-sub-headings {
        font-size: 2vw;
    }
}


/* small size */

@media screen and (max-width:600px) {
    .app-sub-headings {
        font-size: 3vw;
    }
}