:root {
  --primary-text: #f1f1f1;
  --secondary-text: #0071cf;
  --ternary-text: #00ff92;
  --yellow-text: #d2a700;
}

body {
  color: var(--ternary-text);
}

a {
  color: inherit;
  text-decoration: line-through;
}

.primary {
  color: var(--primary-text);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 550px) {
}
